html,
body {
    color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    height: 100%;
}

.large-pad {
    padding-left: 10%;
    padding-right: 10%;
}

.pad-left {
    padding-left: 10%;
}

.pad-right {
    padding-right: 10%;
}

@media (max-width:1386px) {
    .large-pad {
        padding-left: 5%;
        padding-right: 5%;
    }
    .pad-left {
        padding-left: 5%;
    }
    .pad-right {
        padding-right: 5%;
    }   
}

@media (max-width:1199px) {
    .large-pad {
        padding-left: 30px;
        padding-right: 30px;
    }
    .pad-left {
        padding-left: 30px;
    }
    .pad-right {
        padding-right: 30px;
    }   
}

@media (max-width:767px) {
    .large-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pad-left {
        padding-left: 15px;
    }
    .pad-right {
        padding-right: 15px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

/* HOME STYLES */

/* body.home {
    background-image: url('assets/home_background_de.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
} */

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-container img {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
}

.menu-case {
    margin-top: 25vh;
    margin-bottom: 100px;
}

.logo-wrapper {
    background-color: #ffffff;
    min-width: 250px;
}

.logo-wrapper img {
    padding: 40px 60px;
}

.btn-wrapper {
    background-color: #000000;
    min-width: 250px;
    min-height: 300px;
}

.btn-black {
    padding: 10px 30px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 50px;
    min-width: 170px;
    color: #ffffff;
    min-height: 46px;
}

.btn-black:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
}

footer {
    font-size: 0.875rem;
}

footer a {
    color: #000000;
    font-weight: 700;
}

@media (max-width: 767px) {
    .background-container {
        position: static;
        overflow-x: hidden;
    }
    .background-container img {
        min-width: 150%;
        margin-left: -25%;
    }
    .menu-case {
        margin-top: 100px;
    }
    body.home {
        background-color: #F7AD0E;
    }
}

@media (max-width: 575px) {
    .menu-case {
        margin-bottom: 60px;
    }
    .background-container img {
        min-width: 285%;
        margin-left: -100%;
    }
}

/* DE PAGE */

.background-lang-container {
    position: fixed;
    height: 100%;
    width: 50%;
    left: 50%;
    top: 0;
    z-index: -1;
}

.background-lang-container img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

img.logo {
    max-width: 120px;
}

.page-wrapper {
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-wrapper {
    height: 100%;
    width: 100%;
}

form {
    margin-left: 20%;
    width: 60%;
}

.btn-black.btn-submit {
    min-width: 100%;
    border: none;
}

.form-control {
    padding: 10px 30px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 50px;
    min-height: 46px;
    color: #ffffff;
    border: none;
}

.form-control::placeholder {
    color: #ffffff;
}

.lowercase {
    font-size: 0.875rem;
}

.footer-info a {
    color: #000000;
}

form span a {
    color: #000000;
    font-weight: 700;
}

@media (max-width: 1199px) {
    form {
        margin-left: 10%;
        width: 80%;
    }
}

@media (max-width: 991px) {
    .page-wrapper {
        height: auto;
        padding-bottom: 0;
        padding-top: 30px;
    }
    form {
        margin-left: 0;
        width: 100%;
    }
    .background-lang-container {
        position: static;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .background-lang-container img {
        min-width: 150%;
        margin-left: -25%;
    }
    .content-wrapper {
        height: auto;
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .bk-yellow {
        background-color: #F8AE0F;
    }
    .bk-bleu {
        background-color: #B0D2D9
    }
    .col-mit {
        margin-top: -25px!important;
        padding-top: 60px;
        z-index: -1;
    }
    .btn-black.btn-submit {
        min-width: auto;
    }
    .background-lang-container img {
        min-width: 200%;
        margin-left: -56%;
    }
    .background-lang-container img.bk-img-en {
        margin-left: -41%;
    }
}

@media (max-width: 575px) {
    .background-lang-container img {
        min-width: 300%;
        margin-left: -109%;
    }
    .background-lang-container img.bk-img-en {
        margin-left: -88%;
    }
}

body.covid-guide {
    font-family: 'Open Sans', sans-serif;
}

body.covid-guide a {
    color: #000000;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.blue {
    color: #00A6C1;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0;
}

h2, h3 {
    font-weight: 700;
}

li {
    position: relative;
}

li::before {
    content: '-';
    font-size: 1rem;
    position: absolute;
    left: -30px;
    top: 0;
}

hr {
    border: 1px solid #00A6C1;
}

.uppercase {
    text-transform: uppercase;
}

.bk-grey {
    background-color: #F4F4F4;
}




